.backyellow{
    background-color: #FFCE43;
    color: #443400;
}

header {
    color: white;
    background-color: #FFCE43;
}

a {
    color: white;
}

.num {
    color: white;
    margin-top: 4rem;
}

.change {
    color: #443400;
}

.question {
    font-size: 1.75rem;
    margin: 0.5rem 0 2.5rem 0;
}

.button {
    background-color: white;
}